h1 {
    background-color: rgb(0, 150, 200);
    text-align: center;
    color: white;
    height: 50px;
    width: 250px;
    font-style: italic;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 15px;    
}

.navigation-bar{
    background-color: rgb(0, 150, 200);
    text-align: center;
    color: white;
    border-radius: 5px;   
}

